@mixin background-color-darken($color, $hover-color) {
  background-color: var(--#{color});
  transition: $main-transition;

  &:hover {
    background-color: var(--#{hover-color});
    transition: $main-transition;
  }
}

@mixin color-darken($color, $percent) {
  color: $color;
  transition: $main-transition;

  svg {
    fill: $color;

    &:hover {
      fill: darken($color, $percent);
      transition: $main-transition;
    }
  }

  &:hover {
    color: darken($color, $percent);
    transition: $main-transition;
  }
}

@mixin background-color-lighten($color, $percent) {
  background-color: lighten($color, $percent);
  transition: $main-transition;
}
