.action_bar {
  width: 100%;
  height: var(--header-bar-height);
  background-color: var(--workspace-toolbar-background);
  border-bottom: var(--workspace-toolbar-border);
  padding: 0 25px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;

  &--menu {
    top: var(--menu-height);
  }

  &--left,
  &--right {
    display: flex;
    align-items: center;
    min-width: 50%;
  }

  &--left {
    justify-content: flex-start;
  }

  &--right {
    justify-content: flex-end;
  }
}
