.breadcrumbs {
  font-size: 90%;
  margin-bottom: 30px;

  .home-icon {
    width: 12px;
    height: 12px;
    margin-right: 4px;
    fill: $breadcrum-color-current;
  }

  .arrow-right {
    width: 8px;
    height: 8px;
    margin-left: 10px;
    margin-right: 10px;
    fill: $breadcrum-color;
  }
}

.breadcrumb {
  &__item {
    color: $breadcrum-color-current;

    &--current {
      color: $breadcrum-color;
      pointer-events: none;
    }
  }
}
