.breadcrumbs {
  font-size: 90%;
  margin-bottom: 30px;

  .home-icon {
    width: 12px;
    height: 12px;
    fill: var(--breadcrumb-icon);
  }

  .arrow-right {
    width: 8px;
    height: 8px;
    margin-left: 7px;
    margin-right: 7px;
    fill: var(--breadcrumb-text);
  }
}

.breadcrumb {
  &__item {
    color: var(--breadcrumb-link);

    &:hover {
      color: var(--breadcrumb-link-hover);
    }

    &--current {
      color: var(--breadcrumb-text);
      pointer-events: none;
    }
  }
}
