%button {
  align-items: center;
  border-radius: var(--button-borderRadius);
  border-width: 0;
  cursor: pointer;
  display: inline-flex;
  font-weight: 700;
  justify-content: flex-end;
  line-height: 1;
  outline: none;
  padding: var(--button-horizontal-padding) 12px;
  transition: $main-transition;
  white-space: nowrap;
}

%button_disabled {
  border-color: var(--button-disabled-background);
  background-color: var(--button-disabled-background);
  pointer-events: none;
  color: var(--button-disabled-text);
  text-shadow: var(--button-disabled-textShadow);
  border-bottom-color: var(--button-disabled-borderBottom-color);
}

@mixin button-border-bottom($border-bottom-width, $border-bottom-color) {
  border-bottom: var(#{$border-bottom-width}) solid var(#{$border-bottom-color});
}

@mixin button-solid($background, $background-hover, $color) {
  @include spinner($color);

  background-color: var(#{$background});
  color: var(#{$color});

  &:hover {
    background-color: var(#{$background-hover});
  }
}

@mixin button-transparent($background, $background-hover, $color) {
  @include spinner($color);

  background-color: var(#{$background});
  color: var(#{$color});
  padding: calc(var(--button-horizontal-padding) - var(--button-outline-border-width)) 12px var(--button-horizontal-padding);
  border: var(--button-outline-border-width) solid var(--button-outline-border-color);

  &:hover {
    background-color: var(#{$background-hover});
  }
}

@mixin spinner($background) {
  .spinner {
    display: none;

    > div {
      background-color: var(#{$background});
    }
  }
}

input[type=file][disabled] ~ .button__transparent--primary {
  @extend %button_disabled;
}

[class^='button__'] {
  &:disabled,
  &[disabled] {
    @extend %button_disabled;
  }
}

.button {
  &__solid {
    &--primary {
      @extend %button;

      @include button-solid(--button-primary-background, --button-primary-background-hover, --button-text);
      @include button-border-bottom(--button-borderBottom-width, --button-primary-borderBottom-color);
    }

    &--secondary {
      @extend %button;

      @include button-solid(--button-default-background, --button-default-background-hover, --button-text);
      @include button-border-bottom(--button-borderBottom-width, --button-default-borderBottom-color);
    }

    &--danger {
      @extend %button;

      @include button-solid(--button-danger-background, --button-danger-background-hover, --button-text);
      @include button-border-bottom(--button-borderBottom-width, --button-danger-borderBottom-color);
    }
  }

  &__transparent {
    &--primary {
      @extend %button;

      @include button-transparent(--button-outline-background, --button-outline-background-hover, --button-outline-text);
      @include button-border-bottom(--button-outline-borderBottom-width, --button-outline-border-color);
    }
  }
}
