%button {
  // @include padding($button-padding);

  // @if $button-box-shadow != true {
  //   padding-top: 7px;
  // }

  align-items: center;
  border-radius: var(--button-borderRadius);
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  display: inline-flex;
  font-weight: 700;
  justify-content: flex-end;
  line-height: 1;
  outline: none;
  transition: $main-transition;
  white-space: nowrap;
}

%button_disabled {
  border-color: var(--button-disabled-background);
  background-color: var(--button-disabled-background);
  pointer-events: none;
  color: var(--button-disabled-text);
  text-shadow: var(--button-disabled-textShadow);
  border-bottom-color: #aaaaaa;
}


@mixin button-solid($background, $color) {
  // @include background-color-darken($background, 10%);

  background-color: var(#{$background});
  color: var(#{$color});

  .spinner {
    display: none;

    > div {
      background-color: var(#{$color});
    }
  }

  // &:hover {
  //   border-color: darken($background, 10%);
  // }
}

@mixin button-transparent($background) {
  background-color: transparent;
  color: var(#{$background});

  .spinner {
    display: none;

    > div {
      background-color: var(#{$background});
    }
  }

  // &:hover {
  //   background-color: lighten($background, 40%);
  // }
}

@mixin button-border($background) {
  border-color: var(#{$background});

  // @if $button-box-shadow == true {
  //   border-bottom-width: 2px;
  //   border-bottom-color: darken($background, 10%);
  // }
}

input[type=file][disabled] ~ .button__transparent--primary {
  @extend %button_disabled;
}

[class^='button__'] {
  &:disabled,
  &[disabled] {
    @extend %button_disabled;
  }
}

.button {
  &__solid {
    &--primary {
      @extend %button;

      @include button-solid(--button-primary-background, --button-text);
      @include button-border(--button-primary-background);
    }

    &--secondary {
      @extend %button;

      @include button-solid(--button-default-background, --button-text);
      @include button-border(--button-default-background);
    }

    &--danger {
      @extend %button;

      @include button-solid(--button-danger-background, --button-text);
      @include button-border(--button-danger-background);
    }
  }

  &__transparent {
    &--primary {
      @extend %button;

      @include button-transparent(--button-primary-background);
      @include button-border(--button-primary-background);
    }

    &--secondary {
      @extend %button;

      @include button-transparent(--button-default-background);
      @include button-border(--button-default-background);
    }

    &--danger {
      @extend %button;

      @include button-transparent(--button-danger-background);
      @include button-border(--button-danger-background);
    }
  }
}
