%card {
  background: var(--card-background);
  border-radius: var(--card-borderRadius);
  box-shadow: var(--card-shadow);
}

%card_padding {
  @include padding(var(--card-padding));

  box-sizing: border-box;
}

.card {
  @extend %card;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &--relative {
    position: relative;
  }

  &--padding {
    @extend %card_padding;
  }

  &__separator {
    @include margin(35px null);

    border-bottom: var(--card-divider-border);
    left: calc(-1 * var(--card-padding));
    position: relative;
    width: calc(100% + 2 * #{var(--card-padding)});
  }

  &__headline {
    color: var(--card-headline);
    font-size: 20px;
    margin-bottom: 20px;
  }
}
