.collapse {

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  &__content {
    display: none;
  }

  &__button {
    color: var(--primaryLink-color);
    font-weight: 700;
    cursor: pointer;
    display: block;
    line-height: 1;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__icon {
    @include size(10px);

    fill: var(--primaryLink-color);
    margin-right: 2px;

    &--open {
      transform: rotate(90deg);
    }
  }
}
