.flash {
  @include position(fixed, 70px null null null);

  background-color: var(--notification-background);
  border-radius: var(--notification-borderRadius);
  box-shadow: var(--notification-boxShadow);
  display: flex;
  overflow: hidden;
  transition: 0.7s linear;
  z-index: 999999;

  &--shown {
    // sass-lint:disable no-important
    right: 25px !important;
    // sass-lint:enable no-important
    transition: 0.4s linear;
  }

  &__icon {
    @include padding(11px 8px);

    display: flex;

    > svg {
      @include size(18px);

      fill: var(--notification-background);
    }

    &--success,
    &--notice {
      background-color: var(--notification-success);
    }

    &--info {
      background-color: var(--notification-info);
    }

    &--warning {
      background-color: var(--notification-warning);
    }

    &--error,
    &--alert {
      background-color: var(--notification-danger);
    }
  }

  &__message {
    @include padding(10px 15px);

    box-sizing: border-box;
    color: var(--notification-text);
  }

  &__close {
    @include padding(10px 15px);

    cursor: pointer;

    > svg {
      @include size(8px);

      fill: var(--notification-text);
    }
  }
}
