%form__actions {
  overflow: hidden;
}

.form {
  &__row,
  &__actions {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__actions {
    &--left {
      @extend %form__actions;

      > * {
        float: left;

        &:not(:first-child) {
          margin-left: 30px;
        }
      }
    }

    &--right {
      @extend %form__actions;

      > * {
        float: right;

        &:not(:first-child) {
          margin-right: 30px;
        }
      }
    }
  }
}
