%form__actions {
  overflow: hidden;
}

.form {
  &__row,
  &__actions {
    width: 100%;

    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }

  &__actions {
    &--left {
      @extend %form__actions;

      > * {
        float: left;

        &:not(:first-child) {
          margin-left: 30px;
        }
      }
    }

    &--right {
      @extend %form__actions;

      > * {
        float: right;

        &:not(:first-child) {
          margin-right: 30px;
        }
      }
    }

    &--space-between {
      display: flex;
      justify-content: space-between;

      > *:not(:last-child) {
        > * {
          &:not(:first-child) {
            margin-left: 30px;
          }
        }
      }

      > *:last-child {
        > * {
          &:not(:last-child) {
            margin-right: 30px;
          }
        }
      }
    }
  }
}
