$controls: checkbox, radio;

#{$all-text-inputs},
select {
  background-color: var(--inputField-background);
  border: 1px solid var(--inputField-border);
  border-radius: var(--inputField-borderRadius);
  box-sizing: border-box;
  order: 2;
  outline: none;
  padding: 6px 8px;
  width: 100%;

  &:disabled {
    background-color: var(--inputField-background-disabled) !important;
    color: var(--inputField-text-disabled);
    opacity: 1;
  }
}

#{$all-text-inputs} {
  line-height: 1;
}

#{$all-text-inputs-focus},
select:focus {
  border-color: var(--inputField-border-focus);
}

select {
  @include prefixer(appearance, none, ("webkit", "moz"));

  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, $input-border-color, $input-border-color);
  background-position: calc(100% - 19px) calc(1em + -1px), calc(100% - 15px) calc(1em + -1px), calc(100% - 2.5em) 0.5em;
  background-size: 4px 4px, 4px 4px, 0 0;
  background-repeat: no-repeat;
}

textarea {
  min-height: 100px;
  resize: vertical;
}

#{$all-text-inputs},
select {
  &.input__error {
    border-left: 2px solid var(--formGroup-validation-error);

    &:focus {
      border: 1px solid var(--inputField-border-focus);
    }
  }
}

.input {
  &__label {
    color: var(--formGroup-label);
    display: block;
    font-size: 13px;
    font-weight: bold;

    &--disabled {
      color: var(--check-disabled-text);
    }
  }

  &__hint {
    color: var(--inputField-hint-text);
    font-size: 13px;
    margin-top: 1px;
  }

  &__pre,
  &__post {
    background-color: var(--inputField-background-disabled);
    border: 1px solid var(--inputField-border);
    box-sizing: border-box;
    color: var(--inputField-text-disabled);
    line-height: 1;
    outline: none;
    padding: 6px 8px;
  }

  &__pre {
    border-bottom-left-radius: var(--inputField-borderRadius);
    border-top-left-radius: var(--inputField-borderRadius);
    border-right: 0;
    order: 1;

    ~ input,
    ~ select {
      @include border-left-radius(0);
    }
  }

  &__post {
    border-bottom-right-radius: var(--inputField-borderRadius);
    border-top-right-radius: var(--inputField-borderRadius);
    border-left: 0;
    order: 10;

    ~ input,
    ~ select {
      @include border-right-radius(0);
    }
  }

  @each $control in $controls {

    &__#{$control} {
      display: flex;
      align-items: center;

      .input__#{$control}__control {
        cursor: pointer;
      }

      &--unchecked {
        background: #fff;

        path {
          fill: var(--uncheck-color);
        }
      }

      &--checked {
        background: #fff;

        path {
          fill: var(--check-color);
        }
      }

      input[type=#{$control}]:not(:checked) + label .input__#{$control}--unchecked,
      input[type=#{$control}]:checked + label .input__#{$control}--checked {
        display: block !important;
      }

      input[type=#{$control}]:disabled + label .input__#{$control}--unchecked,
      input[type=#{$control}]:disabled + label .input__#{$control}--checked {
        path {
          fill: var(--check-disabled-icon);
        }
      }

      + div .input__label {
        line-height: 1;
        padding-left: 7px;
        cursor: pointer;
      }

      + div .input__hint {
        line-height: 1;
        margin-top: 4px;
      }
    }
  }

  &__toggle {
    display: flex;
    align-items: center;

    input[type=checkbox] {

      &:checked {

        + .input__toggle__control {

          &::after {
            left: calc(100% - 2px);
            transform: translateX(-100%);
            // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='background: #{str-replace('' + $toggle-checked-color, '#', '%23')};' viewBox='3.3 2.9 20 20'%3E%3Cpath fill='#{str-replace('' + $toggle-checked-background, '#', '%23')}' d='M13.3 2.9c-5.6 0-10 4.4-10 10s4.4 10 10 10 10-4.4 10-10-4.4-10-10-10zm-.6 13.5l-1.8 1.9-1.8-1.8L6.6 14l1.8-1.8 2.5 2.6 6.9-6.9 1.8 1.8-6.9 6.7z'/%3E%3C/svg%3E%0A");
          }
        }
      }

      &:disabled {
        + .input__toggle__control {
          cursor: initial;
          background: $toggle-disabled-background;
        }
      }
    }

    &__control {
      @include size(46px, 26px);

      background: $white;
      border: 1px solid $toggle-border-color;
      border-radius: 100px;
      box-sizing: border-box;
      color: transparent;
      cursor: pointer;
      display: inline-block;
      position: relative;
      user-select: none;

      &::after {
        @include size(20px);
        @include position(absolute, 2px null null 2px);

        align-items: center;
        // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='background: #{str-replace('' + $toggle-unchecked-color, '#', '%23')};' viewBox='3.3 2.9 20 20'%3E%3Cpath fill='#{str-replace('' + $toggle-unchecked-background, '#', '%23')}' d='M13.3 2.9c-5.6 0-10 4.4-10 10s4.4 10 10 10 10-4.4 10-10-4.5-10-10-10zm5.3 13.4l-1.8 1.8-3.4-3.4-3.4 3.4-1.8-1.8 3.4-3.4-3.4-3.4L10 7.7l3.4 3.4 3.4-3.4 1.8 1.8-3.5 3.4 3.5 3.4z'/%3E%3C/svg%3E%0A");
        border-radius: 100%;
        color: $white;
        content: '';
        display: flex;
        justify-content: center;
        transition: .3s;
      }
    }

    + div .input__label {
      line-height: 1;
      padding-left: 10px;
      cursor: pointer;
    }
  }

  &__file {
    display: flex;
    align-items: center;

    &__control {
      display: inline-block;
    }

    &__text {
      display: flex;
      margin-left: 20px;
      font-weight: 500;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 200px;
    }

    &__icon {
      color: $main-color;
      width: 14px;
      margin-right: 5px;
    }
  }
}

label.input__error {
  @include padding(5px 7px);
  @include position(absolute, calc(100% + 8px) null null 0);

  background-color: var(--formGroup-validation-error);
  border-radius: var(--formGroup-validation-borderRadius);
  color: var(--formGroup-validation-text);
  font-size: 13px;
  z-index: 1;

  &::before {
    @include position(absolute, null null 100% 8px);
    border-style: solid;
    height: 0;
    width: 0;
    border-color: transparent transparent var(--formGroup-validation-error);
    border-width: 0 6px 6px;
    content: '';
  }
}
