%link_disabled {
  @include color-darken($link-disabled-color, 10%);

  cursor: not-allowed;
  pointer-events: none;
}

@mixin link($color, $color-hover) {
  color: var(#{$color});
  line-height: 1.2;

  &:hover {
    color: var(#{$color-hover});

    svg {
      fill: var(#{$color-hover});
    }
  }

  svg {
    fill: var(#{$color});

    &:first-child {
      margin-right: 4px;
    }

    &:last-child {
      margin-left: 6px;
    }
  }
}

.link {
  &--primary {
    @include link(--primaryLink-color, --primaryLink-hover-color);
  }

  &--secondary {
    @include link(--defaultLink-color, --defaultLink-hover-color);
  }

  &--danger {
    @include link(--button-danger-background, --button-danger-background-hover);
  }

  &--primary,
  &--secondary,
  &--danger {
    &:disabled,
    &[disabled] {
      @extend %link_disabled;
    }
  }
}
