%link_disabled {
  @include color-darken($link-disabled-color, 10%);

  cursor: not-allowed;
  pointer-events: none;
}

%link {
  line-height: 1.2;
}

.link {
  &__icon--left,
  &__icon--right {
    @include size(14px);
  }

  &__icon--left {
    margin-right: 6px;
  }

  &__icon--right {
    margin-left: 6px;
  }

  &--primary {
    @include color-darken($link-primary-color, 10%);

    @extend %link;
  }

  &--secondary {
    @include color-darken($link-secondary-color, 10%);
    @include recolor($link-secondary-color, 1);

    @extend %link;
  }

  &--danger {
    @include color-darken($link-danger-color, 10%);
    @include recolor($link-danger-color, 1);

    @extend %link;
  }

  &__external {
    background-image: url('data:image/svg+xml;utf8,\
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">\
        <path d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"/>\
      </svg>');

    background-repeat: no-repeat;
    padding-right: 20px;
    background-position-x: right;
    background-position-y: center;
    background-size: .48rem;
    /* background-size: contain; */
    background-size: 14px;

    &--primary {
      @include recolor($link-primary-color, 1);


      @extend %link;
    }
  }

  &--primary,
  &--secondary,
  &--danger {
    &:disabled,
    &[disabled] {
      @extend %link_disabled;
    }
  }
}
