%body {
  background-color: $main-background;
}

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}

.body--public {
  @extend %body;

  .main-wrapper {
    @include margin(32px auto);

    max-width: 531px;
    width: 94%;

    .logo {
      @include margin($logo-margin-top-public auto $logo-margin-bottom-public);

      display: block;
      width: 238px;
    }
  }
}

.body--application {
  @extend %body;

  .main-wrapper {
    @include margin(25px 25px 100px 25px);

    &--menu {
      margin-top: 12px;
    }
  }
}
