.modal {
  @include position(fixed, 0 0 0 0);

  align-items: center;
  background-color: $modal-background-color;
  content: '';
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  z-index: 99999;
  visibility: hidden;

  &__dialog {
    width: 100%;
    max-width: $modal-width;
    margin: 25px;
  }

  &__content {
    @extend %card;
    @extend %card_padding;

    position: relative;
  }

  &__header {
    margin-bottom: 30px;
  }

  &__title {
    font-size: 24px;
    font-weight: normal;
    line-height: 1.2;
    color: rgb(62, 62, 62);
  }

  &__close {
    @include position(absolute, $modal-padding $modal-padding null null);
    @include size(14px);

    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#{str-replace('' + $modal-close-icon-color, '#', '%23')}" viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174L21.03-.046l-9.09 9.179L2.764.045l-2.81 2.81L9.14 11.96.045 21.144l2.81 2.81 9.112-9.192 9.18 9.1z"></path></svg>');
    cursor: pointer;
  }

  &__body {
    @extend %scrollbox;
  }

  &__footer {
    margin-top: 35px;
  }
}
