.modal {
  @include position(fixed, 0 0 0 0);

  align-items: center;
  background-color: var(--modal-overlay-background);
  content: '';
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  z-index: 99999;
  visibility: hidden;

  &__dialog {
    width: 100%;
    max-width: $modal-width;
    margin: 25px;
  }

  &__content {
    @include padding(var(--modal-container-padding));

    background: var(--notification-background);
    border-radius: var(--notification-borderRadius);
    box-shadow: var(--notification-boxShadow);
    box-sizing: border-box;
    position: relative;
  }

  &__header {
    margin-bottom: 30px;
  }

  &__title {
    font-size: 24px;
    font-weight: normal;
    line-height: 1.2;
    color: var(--notification-text);
  }

  &__close {
    // SEE: https://newbedev.com/change-svg-fill-color-in-before-or-after-css
    @include position(absolute, 20px 20px null null);
    @include prefixer(mask, url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174L21.03-.046l-9.09 9.179L2.764.045l-2.81 2.81L9.14 11.96.045 21.144l2.81 2.81 9.112-9.192 9.18 9.1z"></path></svg>'), ('webkit'));
    @include prefixer(mask-size, cover, ('webkit'));
    @include size(14px);

    background-color: var(--modal-closeButton-icon);
    content: '';
    cursor: pointer;
    display: inline-block;

    &:hover {
      background-color: var(--modal-closeButton-icon-hover);
    }
  }

  &__body {
    @extend %scrollbox;
  }

  &__footer {
    margin-top: 35px;
  }
}
