.notice {
  border-radius: $notice-border-radius;
  border: 1px solid;
  box-sizing: border-box;
  display: flex;

  &--success {
    border-color: $notice-success-background;

    .notice__icon {
      background-color: $notice-success-background;
    }
  }

  &--info {
    border-color: $notice-info-background;

    .notice__icon {
      background-color: $notice-info-background;
    }
  }

  &--warning {
    border-color: $notice-warning-background;

    .notice__icon {
      background-color: $notice-warning-background;
    }
  }

  &--error {
    border-color: $notice-error-background;

    .notice__icon {
      background-color: $notice-error-background;
    }
  }

  &__icon {
    @include padding(10px 8px);

    color: $white;
    display: flex;
    font-size: 18px;
  }

  &__content {
    @include padding(8px 14px);

    color: $notice-color;
    display: flex;
    align-items: center;
  }
}
