.notice {
  border-radius: var(--notification-borderRadius);
  border: 1px solid;
  box-sizing: border-box;
  display: flex;

  &--success {
    border-color: var(--notification-success);

    .notice__icon {
      background-color: var(--notification-success);
    }
  }

  &--info {
    border-color: var(--notification-info);

    .notice__icon {
      background-color: var(--notification-info);
    }
  }

  &--warning {
    border-color: var(--notification-warning);

    .notice__icon {
      background-color: var(--notification-warning);
    }
  }

  &--error {
    border-color: var(--notification-danger);

    .notice__icon {
      background-color: var(--notification-danger);
    }
  }

  &__icon {
    @include padding(10px 8px);

    display: flex;

    > svg {
      @include size(18px);

      fill: var(--notification-background);
    }
  }

  &__content {
    @include padding(8px 14px);

    color: var(--notification-text);
    display: block;
  }
}
