.status {
  @include padding(4px 6px);
  font-size: 12px;
  border-radius: 3px;
  line-height: 1.2;
  font-weight: 500;

  &--good {
    background-color: var(--active-status-background);
    color: var(--active-status-text);
  }

  &--warning {
    background-color: var(--todo-status-background);
    color: var(--todo-status-text);
  }

  &--danger {
    background-color: var(--danger-status-background);
    color: var(--danger-status-text);
  }

  &--neutral {
    background-color: var(--outline-status-background);
    border: 1px solid var(--outline-status-border);
    color: var(--outline-status-text);
  }
}
