.step-list {

  &__container {
    background-color: $step-list-container-background;
    padding: 25px;
  }

  &__title {
    color: $step-list-title-color;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 0;
  }

  &__items {
    width: 100%;
    margin-left: -2px;

    tr:last-child td {
      padding-bottom: 0;

      &::after {
        height: 0;
      }
    }

    td {
      vertical-align: top;
      padding-bottom: 20px;
      position: relative;
    }
  }

  &__bubble-column {
    width: 35px;
    text-align: center;

    &::after {
      content: ' ';
      position: absolute;
      left: 10px;
      width: 2px;
      height: 100%;
      background-color: $step-list-bubble-background;
    }
  }

  &__bubble {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: $step-list-bubble-background;
    color: white;
    line-height: 19px;
    font-size: 11px;
    font-weight: bold;
  }

  &__headline {
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 5px;
    color: $step-list-headline-color;
  }

}
