.table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;

  th, td {
    box-sizing: border-box;
    padding: 15px;
    text-align: left;
  }

  thead {
    tr {
      font-weight: 700;

      &:first-child {
        background-color: $table-header-background;
      }

      &:nth-child(2) {
        border-bottom: 2px solid $table-border-color;
      }
    }
  }

  tbody {
    tr {
      &:hover {
        background: $table-row-hover-background;
      }

      &:not(:last-child) {
        border-bottom: 1px solid $table-border-color;
      }
    }
  }
}
