.table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;

  th, td {
    box-sizing: border-box;
    padding: 15px;
    text-align: left;
  }

  thead {
    tr {
      font-weight: 700;

      &:first-child {
        background-color: var(--table-header-background);
      }

      &:nth-child(2) {
        border-bottom: 2px solid var(--table-row-border);
      }
    }
  }

  tbody {
    tr {
      background-color: var(--table-row-background);
      border-bottom: var(--table-row-border);

      &:hover {
        background-color: var(--table-row-background-hover);
      }
    }
  }
}
