$arrow-size: 8px;

.tooltip {
  cursor: default;
  position: relative;
  white-space: break-spaces;
  padding: 5px;

  &:hover .tooltip__bubble {
    opacity: 1;
    visibility: visible;
  }

  &__label {
    color: var(--primary-color);
    font-weight: 700;

    &[data-placement="top"] ~ .tooltip__bubble,
    &[data-placement="bottom"] ~ .tooltip__bubble {
      left: 50%;
      transform: translateX(-50%);
    }

    &[data-placement="right"] ~ .tooltip__bubble,
    &[data-placement="left"] ~ .tooltip__bubble {
      top: 50%;
      transform: translateY(-50%);

      &::before {
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &[data-placement="top"] ~ .tooltip__bubble {
      bottom: calc(1em + 16px);

      &::before {
        @include triangle('down', 16px, 8px, white);
        @include position(absolute, null null -8px null);

        content: '';
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &[data-placement="right"] ~ .tooltip__bubble {
      left: 27px;

      &::before {
        @include triangle('left', 8px, 16px, white);
        @include position(absolute, null null null -8px);

        content: '';
      }
    }

    &[data-placement="bottom"] ~ .tooltip__bubble {
      top: calc(1em + 15px);

      &::before {
        @include triangle('up', 16px, 8px, white);
        @include position(absolute, -8px null null null);

        content: '';
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &[data-placement="left"] ~ .tooltip__bubble {
      right: 27px;

      &::before {
        @include triangle('right', 8px, 16px, white);
        @include position(absolute, null -8px null null);

        content: '';
      }
    }
  }

  &__bubble {
    position: absolute;
    padding: 1em;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    max-width: 350px;
    transition: opacity cubic-bezier(0, 0, 0.57, 0.74) 0.2s, 0.2s visibility;
    border-radius: 4px;
    background: white;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.4);
    line-height: 1;
    font-weight: normal;
    width: max-content;
  }
}
