<!-- Email Footer : BEGIN -->
<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="max-width: 680px;">
  <tr>
    <td style="padding: 20px; font-family: sans-serif; font-size: 12px; line-height: 15px; text-align: center; color: #555555;">
      <webversion style="color: #555555; text-decoration: underline; font-weight: bold;">View as a web page</webversion>
    </td>
  </tr>
</table>
<!-- Email Footer : END -->
