<!-- Hero Image, Flush : BEGIN -->
<tr>
  <td style="background-color: #ffffff;">
    <%= image_tag locals[:image], width: "680", height: "", alt: "alt_text", border: "0", style: "width: 100%; max-width: 680px; height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 15px; color: #555555; margin: auto; display: block;", class: "g-img" %>
  </td>
</tr>
<!-- Hero Image, Flush : END -->
