<div class="menu">

  <div class="menu--left">
    <%= render 'beyond_canvas/shared/logo' %>
  </div>

  <div class="menu--center">

<%
=begin
    Add here your menu links. You can use `menu__item` as class name and add
    `menu__item--selected` as secondary class for selected menu item. E.g:

    <%= link_to 'About us', about_us_path, class: "menu__item #{ 'menu__item--selected' if params[:controller] == 'about_us' }" %>
    <%= link_to 'Support', support_path, class: "menu__item #{ 'menu__item--selected' if params[:controller] == 'support' }" %>
=end
%>

  </div>

  <div class="menu--right">

<%
=begin
    You can also add here some content that will be right-aligned, like a user
    avatar image or a dropdown account menu.
=end
%>

  </div>

</div>
