:root {
  /*
  /*  ---------------------------------------------------
  /*  Brand
  /*  --------------------------------------------------- */
  --primary-color: Orange;
  --secondary-color: #383838;
  --tertiary-color: DeepSkyBlue;
  /*
  /*  ---------------------------------------------------
  /*  Global layout
  /*  --------------------------------------------------- */
  --workspace-text: #3e3e3e;
  --workspace-background: #e6e6e6;
  --workspace-border: #d2d2d2;
  --workspace-headline: #676767;
  --padding: 40px;
  --borderRadius: 3px;
  --surfaceHover-color: #b3ecff;
  /*
  /*  ---------------------------------------------------
  /*  Action bar
  /*  --------------------------------------------------- */
  --workspace-toolbar-background: white;
  --workspace-toolbar-border: 1px solid rgba(0, 0, 0, 0.2);
  --header-bar-height: 73px;
  /*
  /*  ---------------------------------------------------
  /*  Modal
  /*  --------------------------------------------------- */
  --modal-overlay-background: rgba(0, 0, 0, 0.75);
  --modal-container-background: white;
  --modal-container-borderRadius: 3px;
  --modal-closeButton-icon: #8b8b8b;
  --modal-closeButton-icon-hover: #717171;
  --modal-container-padding: 40px;
  /*
  /*  ---------------------------------------------------
  /*  Empty states
  /*  --------------------------------------------------- */
  --emptyState-surface: #e3e3e3;
  --emptyState-bubbles: #dedede;
  --emptyState-outline: #575757;
  --emptyState-headline: #676767;
  --emptyState-help-text: gray;
  /*
  /*  ---------------------------------------------------
  /*  States
  /*  --------------------------------------------------- */
  --danger-color: #da3c3c;
  --success-color: #97c344;
  --warning-color: #f3b547;
  --disabled-color: #d0d0d0;
  --default-color: #999999;
  /*
  /*  ---------------------------------------------------
  /*  RichTextEditor
  /*  --------------------------------------------------- */
  --textEditor-text: #3e3e3e;
  --textEditor-background: white;
  --textEditor-border-color: #d2d2d2;
  --textEditor-border-radius: 3px;
  --textEditor-toolbar-background: #f3f3f3;
  --textEditor-toolbar-border-color: #d2d2d2;
  --textEditor-button-background: #f3f3f3;
  --textEditor-button-background-hover: #e6e6e6;
  --textEditor-button-active-background: #d4d4d4;
  --textEditor-button-icon: #676767;
  --textEditor-button-icon-disabled: #b3b3b3;
  /*
  /*  ---------------------------------------------------
  /*  Media queries
  /*  --------------------------------------------------- */
  --screen-xs-max: 47.9375em;
  --screen-sm: 48em;
  --screen-sm-max: 61.9375em;
  --screen-md: 62em;
  --screen-md-max: 74.9375em;
  --screen-lg: 75em;
  --screen-lg-max: 112.4375em;
  --screen-xl: 112.5em;
  /*
  /*  ---------------------------------------------------
  /*  FlipSwitch
  /*  --------------------------------------------------- */
  --flipSwitch-unchecked-background: #b3b3b3;
  --flipSwitch-checked-background: #97c344;
  --flipSwitch-border: #c0c0c0;
  --flipSwitch-label: gray;
  --flipSwitch-text: silver;
  /*
  /*  ---------------------------------------------------
  /*  Reseller logo
  /*  --------------------------------------------------- */
  --logo-width: 238px;
  --logo-height: 76px;
  /*
  /*  ---------------------------------------------------
  /*  Gray scale colors
  /*  --------------------------------------------------- */
  --white: white;
  --gray: gray;
  --silver: silver;
}
