// Colors

$primary-color:     rgb(78, 183, 168)
$secondary-color:   rgb(28, 53, 69)
$cancel-color:      rgb(153, 153, 153)
$danger-color:      rgb(218, 60, 60)

$white:             rgb(255, 255, 255)
$black:             rgb(0, 0, 0)

$main-background:   rgb(233, 232, 220)

// Styles

$main-box-shadow:   0 2px 7px rgba($black, .2)
$main-transition:   .125s ease-in
$main-padding:      2.5rem

// Typography

$main-font-family:  'Roboto', sans-serif
$main-color:        rgb(62, 62, 62)
$main-line-height:  1.5
$main-font-size:    1.6rem

$title-font-family: 'Montserrat', sans-serif
$title-color:       rgb(122, 118, 76)
$title-line-height: 1.3

$link-color:        $primary-color
