#{$all-text-inputs}
  background-color: $white
  border: 1px solid $input-border-color
  border-radius: 3px
  box-sizing: border-box
  line-height: 1
  outline: none
  padding: 6px 8px
  width: 100%

#{$all-text-inputs-focus}
  border-color: $input-border-color-focus

.input

  &__label
    color: $label-color
    display: block
    font-size: 13px
    font-weight: bold

  &__hint
    color: $hint-color
    font-size: 13px
    margin-top: 1px
