<div class="breadcrumbs">
  <%= inline_svg_tag 'icons/home.svg' %>
  <a class="breadcrumb__item" href="#">Dashboard</a>
  <%= inline_svg_tag 'icons/arrow_right.svg' %>
  <a class="breadcrumb__item--current" href="#">Locations</a>
</div>
