<% if is_cockpit_app? && menu_content? %>

  <div class="menu">

    <div class="menu--left">
      <%= yield :menu_left %>
    </div>

    <div class="menu--right">
      <%= yield :menu_right %>
    </div>

  </div>

<% end %>
